body {background-color: beige;}

.container {margin-top: 1.2em;}

.ad-title {background-size: cover; background-position: center center; padding: 1em;}

.ad-title .container {margin-top: 0;}

.ad-title h1,.ad-title p {color: #070707; text-shadow: 4px 4px 4px rgba(0,0,0,0.5);}

.carousel-caption {text-shadow: 2px 2px 2px rgba(0,0,0,0.5);}

footer {position: fixed; bottom: 0; width: 100%;}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {color: darkgoldenrod!important;}
