<!DOCTYPE html>

<html>
	
	<head>
		
        <meta charset="UTF-8">
        <title>{% block title %}R'BNB{% endblock %}</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/app.css">
		<script src="/js/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/fec906b625.js" crossorigin="anonymous"></script>
        <!--{# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
		
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}-->
		
    </head>
	
<body>
	
	{% include 'includes/header.html.twig' %}
	
	{% for label,messages in app.flashes %}
	
		<div class="container">
	
			<div class="alert alert-{{ label }}">
			
				{% for message in messages %}
				<p>{{ message | raw }}</p>
				{% endfor %}
			
			</div>
	
		</div>
	
	{% endfor %}
	 
	 {% block header %}{% endblock %}
	 {% block body %}{% endblock %}
	 
	 {% include 'includes/footer.html.twig' %}
	
	 {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
	
</body>
	
</html>
